@model RouteBus.Models.Postojki

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DodajPostojka</title>
</head>
<body>
    @using (Html.BeginForm()) 
    {
        @Html.AntiForgeryToken()
        
        <div class="form-horizontal">
            <h4>Postojki</h4>
            <hr />
            @Html.ValidationSummary(true)
            <div class="form-group">
                @Html.LabelFor(model => model.Ime, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Ime)
                    @Html.ValidationMessageFor(model => model.Ime)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Adresa, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Adresa)
                    @Html.ValidationMessageFor(model => model.Adresa)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.Lokacija, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Lokacija)
                    @Html.ValidationMessageFor(model => model.Lokacija)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.gMapsCoords, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.gMapsCoords)
                    @Html.ValidationMessageFor(model => model.gMapsCoords)
                </div>
            </div>
    
            <div class="form-group">
                @Html.LabelFor(model => model.PrevoznikId, "PrevoznikId", htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("PrevoznikId", String.Empty)
                    @Html.ValidationMessageFor(model => model.PrevoznikId)
                </div>
            </div>
    
            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }
    
    <div>
        @Html.ActionLink("Back to List", "Index")
    </div>
</body>
</html>
