@model RouteBusver2.Time

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Time</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Time1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Time1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Stop.StopName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Stop.StopName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Trasport.BusName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Trasport.BusName)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.TimeID }) |
    @Html.ActionLink("Back to List", "Index")
</p>
