@model IEnumerable<RouteBusver2.Trasport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.BusName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Line)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.BusName)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Line)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.BusID }) |
            @Html.ActionLink("Details", "Details", new { id=item.BusID }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.BusID })
        </td>
    </tr>
}

</table>
